<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Victor Victoria</title>
    
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <% if (process.env.NODE_ENV == 'production') { %>
      <link rel="stylesheet" href="/css/main.min.css" />
    <% } else { %>
      <link rel="stylesheet" href="/css/main.css" />
    <% } %>


    <link rel="shortcut icon" href="/img/maverick-bull.png" />

    <meta name="google-site-verification" content="K_yIBC7KRlaZ3mFQP7wpzRh-xZaqn-Y0M011TVC0wdk" />

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'sus4sey',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

  </head>
  <body>
