<%- include ../layouts/_site_header.ejs %>
<%- include ../layouts/_site_navigation.ejs %>
    <div class="container" style="padding-top: 75px;">
      <div id="new_page"></div>
    </div>
    <% if (process.env.NODE_ENV == 'production') { %>
    	<script src="/js/admin.min.js" async></script>
    <% } else { %>
    	<script src="/js/admin.js" async></script>
    <% } %>
<%- include ../layouts/_site_footer.ejs %>
