<%- include ../layouts/_site_header.ejs %>
<%- include ../layouts/_site_navigation.ejs %>
    <script>window.slug = "<%= page.slug %>";</script>
    <!-- Made into a div and new class for temporary fix -->

    <div id='content'></div>


    <% if (process.env.NODE_ENV == 'production') { %>
      <script src="/js/page.min.js" async></script>
    <% } else { %>
      <script src="/js/page.js" async></script>
    <% } %>
<%- include ../layouts/_site_footer.ejs %>

