.header {
	position: fixed;
	z-index: 11;
	width: 90%;
	top: 0;
	right: 0;
	color: white;
	border-bottom: white 1px solid;
	transition: 0.15s ease-out;
	font-weight: bold;


	// a.link {
	// 	color: white;
	// 	transition: 0.15s ease-out;
	// 	&:hover, &.active {
	// 		color: $pink;
	// 	}
	// }

	a.link {
		display: inline-block;
		position: relative;
	}
	a.link span{
		line-height: 50px;
		padding: 0 50px;
		color: white;
		display: inline-block;
		position: relative;
	}
	a.link.active{
		padding-bottom: 0;
	}
	a.link:after {
		content: '';
		display: block;
		margin: auto;
		height: 5px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
	a.link:hover:after, a.link.active:after {
		width: 100%;
		background: $pink;
	}
			
	.appointment {
		background: #f8f8f8;
		padding: 10px 27px;
		color: $pink;
		position: absolute;
		right: 0;
		line-height: 1;
		top: 7px;
		cursor: pointer;
		transition: 0.15s ease-out;
		.close {
			display: none;
		}
	}
}

.main.sidebar-open {
	.appointment {
		padding-right: 60px;
		color: white;
		background: $pink;
	}
	.appointment .close {
		display: inline;
		position: absolute;
		right: 15px;
		top: 7px;
		font-size: 22px;
		font-weight: 100;
	}
}

.main.top {
	.header {
		background: $darkgray_rgba;
		border: none;
		top: 10px;
	}
}