.instagram {
	height: 320px;
	width: 320px;
	display: inline-block;
	position: relative;
	background-size: cover;
	border-top: 10px solid white;
	border-left: 10px solid white;
	.user__profile-picture {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: auto;
		margin-bottom: 20px;

	}
	.photo__description {
		margin-bottom: 10px;
	}


	&:hover {
		transition: 0.25s ease-out;
		opacity: 0.7;
	}
	.instagram-icon {
		position: absolute;
		bottom: 0;
		right: 10px;
		width: 25px;
	}
}

.instagrams {
	width: 100%;
	max-width: 1280px;
	margin: auto;
}

.instagrams-wrap {
	width: 100%;
	overflow-x: scroll;
}

.more_instagrams {
	display: table;
	background: $pink;
	color: white;
	padding: 10px 20px;
	margin: 15px auto;
	cursor: pointer;
	transition: 0.25s ease-out;
	&:hover {
		opacity: 0.7;
	}
}