@media screen and (max-width: 1160px) {
	.photogallery-wrap {
		.left, .middle, .right {
		}
	}
}

@media screen and (max-width: 768px) {
	video.video-wrap {
		display: none;
	}
	.tcon {
		display: flex;
	}
	.cmn-toggle-switch {
		display: none;
	}
	.header, .main.top .header {
		left: 0;
		padding-left: 15px; 
		background: rgba(3, 3, 3, 0.9);
		top: 0;
		min-height: 55px;
		padding-right: 15px;
		border-bottom: none;
		a.link {
			display: block;
			position: relative;
			text-align: center;
		}
		.appointment {
			line-height: 55px;
			top: 0;
			padding: 0px 25px;
		}
		.menu-container {
			display: none;
		}
		&.open {
			.menu-container {
				display: block;
			}
		}
		.link.phone {
			position: absolute;
			top: 0;
			left: 75px;
		}
	
	}
	.photogallery-wrap {
		width: 100%;
		margin: auto;
		display: block !important;
		.left, .middle, .right {
			display: block!important;
		}

		.place_image {
			width: 100%;
			margin: 10px 0 !important;
		}
	}
	.sidebar {
		display: block;
		overflow: scroll;
		.staff-wrapper {
			display: block!important;
			height: 100%;
			background: #222;
			overflow: scroll;
		}
		.staff_container {
		}
		.book_now {
			.book_button {
				display: none;
			}
			margin: 10px 0;
			.app_icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
				img {
					height: 50px;
				}
			}
		}
		.sidebar_overlay {
			display: none;
		}
		.app_container {
			display: table;
			margin: auto;
		}
		.app_description {
			display: block;
			line-height: 3;
			text-align: center;
		}
		.booking {
			display: none;
		}
		.detail_container {
			padding-bottom: 30px;
		}
		.top_staff {
			.image {
				display: none;
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
			.contact {
				.mobile_image {
					height: 50px;
					width: 50px;
					border-radius: 50%;
					background-size: cover;
					background-position: center;
					display: inline-block;
					vertical-align: middle;
				}
				.name {
					display: inline-block;
					margin-left: 15px;
					vertical-align: middle;
				}
				.call_staff {
					margin-top: 15px;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.section_title {
		font-size: 30px;
		padding: 0;
		margin: auto;
	}
	.staff-list {
		max-width: 400px;
	}
	.packages .package {
		max-width: 400px;
		display: block;
		margin: auto;
	}
 
	.instagram {
		max-width: 50%;
		padding-bottom: 50%;
		height: 0;
		.description {
			display: none;
		}
	}
	video.video-wrap {
		display: none;
	}

	.packages, .services {
		.package-row {
			margin: 20px 0;

		}
	}
	.photogallery {
		.photogallery-wrap {
			.left, .middle, .right {
				width: 100%;
				.place_image {
					width: 100%;
				}
			}
		}
	}
}