.photogallery {
	.photogallery-wrap {
		display: block;
		width: 100%;
		margin: auto;
		max-width: 1160px;
		.left, .middle, .right {
			display: inline-block;
		}

		.left {
			width: 450px;
			max-width: 100%;
			.place_image {
				height: 306px;
			}
		}

		.middle {
			width: 300px;
			max-width: 100%;
			.place_image {
				height: 464px;
			}
		}

		.right {
			width: 400px;
			max-width: 100%;
			.place_image {
				&.six {
					height: 572px
				}
				&.seven {
					height: 357px;
				}
			}
		}
		.place_image {
			position: relative;
			margin: 10px;

		}
		.place_image div {
			opacity: 0;
			transition: 1s ease-in-out;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translate3D(0, 0, 0);
			position: absolute;
			height: 100%;
			width: 100%;
			&.active {
				opacity: 1;
			}
		}
	}

	.image {
		background: #eee;
		background-size: cover;
		background-position: center;
		display: inline-block;
		float: left;
		border: 10px solid white;
		border-top: none;
		border-right: none;
	}

	.image1 {
		width: 60%;
  		padding-bottom: 40%;
	}
	.vv_logo { 
		display: inline-block;
		width: 40%;		
		background: black;
		padding-bottom: 40%;
		position: relative;
		float: left;

		border: 10px solid white;
		border-top: none;
		border-right: none;

		.logomark {
			position: absolute;
			top: 15%;
			left: 10%;
			width: 70%;
		}
	}

}