.photogallery {
	.photogallery-wrap {
		display: table;
		width: 100%;
		margin: auto;
		max-width: 1160px;
		.left, .middle, .right {
			display: table-cell;
		}

		.place_image {
			margin: 10px;
			&.1 {
				height: 308px;
				width: 449px;
			}
		}
	}

	.image {
		background: #eee;
		background-size: cover;
		background-position: center;
		display: inline-block;
		float: left;
		border: 10px solid white;
		border-top: none;
		border-right: none;
	}

	.image1 {
		width: 60%;
  		padding-bottom: 40%;
	}
	.vv_logo { 
		display: inline-block;
		width: 40%;		
		background: black;
		padding-bottom: 40%;
		position: relative;
		float: left;

		border: 10px solid white;
		border-top: none;
		border-right: none;

		.logomark {
			position: absolute;
			top: 15%;
			left: 10%;
			width: 70%;
		}
	}

}