.sidebar {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 11111;
	background: rgba(0,0,0,0.65);
	max-width: 100%;
	left: 0;
	transition: 0.15s background ease-out;
	color: white;

	.sidebar_overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	.staff-wrapper {
		display: table-cell;
		vertical-align: middle;
		z-index: 1;
		position: relative;
	}

	.close_staff {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 35px;
		cursor: pointer;
		line-height: 1;
		padding: 8px 15px;
		vertical-align: middle;
		display: inline-block;
		font-weight: 100;
		transition: 0.15s ease-out;
		z-index: 1;
	}
	.close_staff:hover {
		color: $pink;
	}
	.staff_container {
		position: relative;
		background: #222;
		width: 100%;
		max-width: 700px;
		padding: 30px;
		padding-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		z-index: 11;
	}
	.detail_container {
		padding-bottom: 30px;
		.details .bio h3 {
			margin-top: 10px;
		}
	}

	.tags {
		margin: 10px 0;
		span {
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			padding: 5px 10px;
			margin-right: 5px;
			background: $pink;
			font-size: 14px;
		}
		span.services {
			background: none;
		}
	}
	.app_description {
		display: none;
	}
	.top_staff {
		position: relative;
		width: 100%;
		.image {
			width: 200px;
			height: 200px;
			background-size: cover;
			background-position: center;
			display: table-cell;
		}
		.contact {
			color: white;
			display: table-cell;
			padding-left: 15px;
			a {
				color: white;
			}
			.name {
				font-size: 25px;
				background: transparent;
				text-align: left;
				margin-bottom: 0;
			}
			.fa {
				color: $pink;
				margin: 0 10px;
				font-size: 20px;

			}
		}
	}

	.book_now {
		margin: 10px 0;
		.app_icon {
			display: inline-block;
			display: none;
			vertical-align: middle;
			margin-right: 5px;
			img {
				height: 50px;
			}
		}
		.book_button {
			margin-right: 5px;
			display: inline-block;
			vertical-align: middle;
			padding: 13px 20px;
			font-weight: bold;
			background: white;
			border-radius: 6px;
			color: $pink;
			cursor: pointer;
			transition: 0.15s ease-out;
			&:hover {
				background: $pink;
				color: white;
			}
		}
	}

	.booking {
		height: 600px;
		margin-top: 15px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}


}