.main .top {
	height: 100%;
	background: black;
	background-image: url(/img/video.png);
	background-size: cover;
	background-position: center; 
	position: relative;
	max-height: 1000px;
	min-height: 500px;
	overflow: hidden;
}

.header-curves {
	position: absolute;
	height: 80px;
	bottom: 0;
	width: 100%;
	z-index: 1;
	.left {
		background: url('/img/half-white-curves.png');
		background-repeat: no-repeat;
		background-size: 200%;
		width: 500px;
		height: 80px;
		background-position: -500px 5px;
	}
	.right {
		background: url('/img/half-white-curves.png');
		background-repeat: no-repeat;
		background-size: 200%;
		background-position: 0px 5px;
		position: absolute;
		right: 0;
		top: 0;
		width: 500px;
		height: 80px;
	}
}

.logo-wrap {
	height: 100%;
	width: 100%;
	display: table;
	background: rgba(0,0,0,0.6);
	z-index: 1;
	position: relative;
	.logo-cell {
		display: table-cell;
		margin: auto;
		vertical-align: middle;
	}

	.wordmark {
		width: 100%;
		max-width: 600px;
		margin: auto;
	}
	
	.salonandspa {
		width: 100%;
		max-width: 400px;
		margin: auto;
	}
}

.video-wrap {
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  outline: 0;
  border: 0;
  min-width: 100%;
  min-height: 100%;
}